# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\aldov\Desktop\Cursos Primer Semestre 2022\Laboratorio Introuducción a la Programación y Computación 1\Prácticas\Práctica 1\PACMAN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
